@import url('https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap');
$font-family: 'Khand', sans-serif;

$primary-color:#5BC2EA;
$secondary-color:#A1D24B;
$color-lightblue:#C0EAEC;
$color-pink:#EAC2D9;
$color-lightgreen:#C0EBC0;
$color-grey:#B9BABC;
$color-darkgreen:#4BD27D;
$color-orange:#EBB37E;
$color-yellow:#E9DA22;
$color-red:#D14B50;

$background-color:black;






